{% extends 'layout.html' %} {% block body %}
<h1 class="mt-3 mb-3">
  Dashboard <small class=" "> Welcome {{session.username}}</small>
</h1>
<a class="btn btn-success mb-5" href="/add_record"> Add Record</a>
<hr />
<div class="p-5 mb-4 bg-dark text-light rounded-3">
  <div class="container-fluid py-5">
    {% for record in records %}
    <h1>{{record.name}}</h1>
    <h2>{{record.email}}</h2>
    <h3>{{record.number}}</h3>
    <h2>{{record.address}}</h2>
    <p class="col-md-8 fs-4">{{record.about}}</p>
    <button class="btn btn-primary btn-lg" type="button">Example button</button>
    {% endfor %}
  </div>
</div>

{% endblock %}
