{% extends 'layout.html' %} {% block body %}
<div class="form-signin mt-4 bg-light text-dark p-4">
  {% from 'includes/_formhelpers.html' import render_field %}
  <form action="" method="POST">
    <h1 class="h3 mb-3 fw-normal text-center">Add Record</h1>

    <div class="form-group mt-2">
      {{ render_field(form.name, class_ = 'form-control' )}}
    </div>
    <div class="form-group mt-2">
      {{ render_field(form.email, class_ ='form-control') }}
    </div>
    <div class="form-group mt-2">
      {{ render_field(form.number, class_ ='form-control') }}
    </div>
    <div class="form-group mt-2">
      {{ render_field(form.address, class_ ='form-control') }}
    </div>
    <div class="form-group mt-2">
      {{ render_field(form.about, class_ ='form-control', id='editor') }}
    </div>

    <p>
      <input
        type="submit"
        class="w-100 btn btn-lg btn-primary mt-4"
        value="Submit"
      />
    </p>
  </form>
</div>

{% endblock %}
