{% extends 'layout.html' %} {% block body %}

<div class="container mt-5">
  <div
    class="bg-light p-5 rounded d-flex flex-column justify-content-center align-items-center"
  >
    <lottie-player
      src="https://assets1.lottiefiles.com/private_files/lf30_yo2zavgg.json"
      background="transparent"
      speed="1"
      style="width: 200px; height: 200px"
      loop
      autoplay
    ></lottie-player>

    <h1 class="text-center">Thankx for registering</h1>
  </div>
</div>
{% endblock %}
